.profile-pic {
  margin-top: 5% !important;
  width: 10rem !important;
  border-radius: 50% !important;
}

.first_name {
  margin-top: 5%;
}

.edit-prof-btn {
  background-color: #D25151 !important;
  color: white !important;
  border: none !important;
  font-size: 20px !important;
  padding-right: 57px !important;
  padding-left: 57px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 30px !important;
  text-align: center !important;
}

.edit-prof-btn:hover {
  background-color: rgb(204, 27, 48) !important;
  box-shadow: 0px 0px 5px black !important;
}
