.profile-pic {
  margin-top: 5% !important;
  width: 10rem !important;
  /* height: 9rem !important; */
  border-radius: 50% !important;
}

.profile-color {
  /* background-color: #2b2d42; */
  background-color: white;
}

.pic-button {
  background-color: inherit !important;
  border: none !important;
  margin-top: 4% !important;
  border-radius: 50%;
}

.profile-text {
  color: #2b2d42;
  font-size: 17px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px #2b2d42 solid;
}

.bio-text {
  color: black;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

.forms-margin {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.edit-prof-btn {
  background-color: #ef233c !important;
  color: white !important;
  border: none !important;
  font-size: 20px !important;
  padding-right: 57px !important;
  padding-left: 57px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 30px !important;
  text-align: center !important;
}

.edit-prof-btn:hover {
  background-color: rgb(204, 27, 48) !important;
  box-shadow: 0px 0px 10px black !important;
}

.edit-prof-btn:focus {
  box-shadow: none !important;
}

.profile-htext {
  color: #ef233c;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1%;
  margin-top: 35px;
  margin-left: 1%;
}

.profile-htext-top {
  color: #ef233c;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1%;
  margin-top: 3%;
  margin-left: 1%;
}

@media only screen and (max-height: 900px) {
  .profile-htext {
    color: #ef233c;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 25px;
    margin-left: 1%;
  }

  .profile-htext-top {
    color: #ef233c;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
  }

  .pic-button {
    background-color: inherit !important;
    border: none !important;
    margin-top: 4% !important;
    border-radius: 50%;
  }

  .profile-pic {
    margin-top: 5% !important;
    width: 7rem !important;
    border-radius: 50% !important;
  }
}
