.header-logo {
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  width: 30px;
  margin: 10px 10px;
}

.profile-header-name {
  font-size: 20px;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-name {
  font-size: 20px;
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bkgd-color1 {
  background-color: #ef233c;
}

.bkgd-color2 {
  background-color: #ffffff;
}

.sign-out-btn {
  color: white;
  background-color: inherit;
  padding: 5px 10px;
  margin-top: 2px;
  border-color: white;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  float: right;
  display: inline;
}

.sign-out-btn:hover {
  transition: 0.25s;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.76) !important;
  border-color: rgba(255, 255, 255, 0.76) !important;
}
