.liked-dogs-text {
  font-size: 22px;
  font-weight: 400;
  margin-left: 0px;
}

.owner-btn {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 10px;
  float: right;
  background-color: #2b2d42 !important;
}

.dog-btn {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-color: inherit !important;
  border: none !important;
  border-radius: 50% !important;
  box-shadow: 0px 0px 4px black;
  background-position: center;
  background-size: cover;
  border: none;
}

.dog-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 8px black;
}

.liked-img-details {
  max-width: 450px;
  max-height: 400px;
  border-radius: 2%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

@media only screen and (max-height: 900px) {
  .owner-btn {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 10px;
    float: right;
    background-color: #2b2d42 !important;
  }

  .liked-dogs-text {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 5px;
  }

  .liked-img-details {
    width: 350px;
    height: 300px;
    border-radius: 2%;
  }
}
