.bkgd-color {
  background-color: #2b2d42;
}

.center {
  text-align: center;
}

.nav-btn {
  background-color: inherit !important;
  color: rgb(196, 196, 196) !important;
  border: none !important;
  font-size: 24px;
  outline: none !important;
  box-shadow: none !important;
}

.nav-btn:hover {
  color: white !important;
}

.nav-btn-clicked {
  background-color: inherit !important;
  color: white !important;
  border: none !important;
  font-size: 24px;
  text-decoration: underline #ef233c !important;
  text-underline-offset: 5px;
  box-shadow: none !important;
}
