.bkgd-color {
  background-color: #2b2d42;
}

.center {
  text-align: center;
}

.m-right {
  margin-right: 20%;
}

.nav-btn {
  background-color: inherit !important;
  color: white !important;
  border: none;
  font-size: 20px;
  display: inline !important;
  margin-right: 3.5% !important;
  margin-top: 0.4% !important;
  margin-left: 3.5% !important;
  margin-bottom: 0.4% !important;
}

.nav-btn:hover {
  text-decoration: underline #ba5b5b;
}

.nav-btn::after {
  text-decoration: underline #ba5b5b;
}
